# Data Bootcamp 

NYU Stern School of Business | October 2018

## Import packages   

Run this code.  Really.

In [1]:
# import packages 
import pandas as pd                   # data management
import matplotlib.pyplot as plt       # graphics 
import datetime as dt                 # check today's date 
import sys                            # check Python version 

# IPython command, puts plots in notebook 
%matplotlib inline

print('Today is', dt.date.today())
print('Python version:\n', sys.version, sep='') ## Question 0

Today is 2018-10-17
Python version:
3.6.6 |Anaconda custom (64-bit)| (default, Jun 28 2018, 11:07:29)
[GCC 4.2.1 Compatible Clang 4.0.1 (tags/RELEASE_401/final)]

## Question 0

<!-- This question is so we can grade the exams, but also tests basic skills in working with notebooks -->

* Change the file name by adding `_YourLastName` to it in the textbox at the top.  
* Add a markdown cell directly *below* this one that includes your name in bold, your student number, and your email address.  

(5 points)

**My Name**

Student number: N1234567

email address: me@domain.com

## Question 1 

For each part (a)-(i), describe the **type** and **value** of the variable with the corresponding name:

(a) `a = 2*3` 

(b) `b = 2.0*3`

(c) `c = 'abc'`

(d) `d = ['This', "is", 'not', "a", 'string']`

(e) `e = d[3]`

(f) `f = (1, 2, 3)`

(g) `g = {1: 'Chase', 2: 'Dave', 3: 'Spencer'}` 

(h) `h = 'foo' + 'bar'`

(i) `i = (1 != 0)`   # parens not needed, but they make code more understandable

(10 points)

In [ ]:
#experiment in this box

## Question 2

Take the `first` and `last` variables defined in the cell below and do the following with them:  

(a) Extract the first letter of `last`.  

(b) Find a method to _split_ `last` into two components at the hyphen.  

(c) Define a new string variable named `combo` consisting of `first` (the first name), a space, the first letter of `last`, and a period.  

(d) Define a function that takes as inputs first and last names (both strings) and returns `combo` (also a string, consisting of the first name plus the first letter of the last name and a period).  Apply it to the variables `first` and `last` and to your own first and last names.  

(15 points)

In [ ]:
first = 'Wilhelmina'
last  = 'Grubbly-Plank'

## Question 3

Write a program that loops over a list of integers from 1 to 50, and for each integer: 
prints out `"fizz"` if the integer is only divisible by 3 ; and `"buzz"` if it is only divisible by 5; if the integer is divisible by 3 and 5 print out `"fizzbuzz"` ; if the integer is not divisible by any of those and less than 25, print the value of the integer ; if the integer is not divisible by any of those and greater than 25, print the square root of the integer.

(10 points)

## Question 4

Next up:  We explore the Census's *Business Dynamics Statistics*, a huge collection of data about firms.  We've extracted a small piece of one of their databases that includes these variables for 2013:

* `Size`:  size category of firms based on number of employees 
* `Firms`:  number of firms in this size category
* `Emp`:  number of employees in this size category 

Run the code cell below to load the data and use the result to answer these questions:  

(a) What type of object is `bds`?

(b) What are its dimensions?

(c) What are its column labels?  Row labels?

(d) What dtypes are the columns?   

(10 points)

In [2]:
data = {'Size': ['1 to 4', '5 to 9', '10 to 19', '20 to 49', '50 to 99',
                 '100 to 249', '250 to 499', '500 to 999', '1000 to 2499',
                 '2500 to 4999', '5000 to 9999', '10000+'], 
        'Firms': [2846416, 1020772, 598153, 373345, 115544, 63845,
                  19389, 9588, 6088, 2287, 1250, 1357], 
        'Emp': [5998912, 6714924, 8151891, 11425545, 8055535, 9788341, 
                6611734, 6340775, 8321486, 6738218, 6559020, 32556671]}
bds = pd.DataFrame(data) 
bds = bds.set_index('Size')

## Question 5

Continuing with the same data:  

(a) Create a new variable `AvgEmp` equal to the ratio of `Emp` to `Firms` and add it as a new column in `bsd`.

(b) Use a dataframe method to change the name of `Emp` to `Employees`. 

(c) Create a bar chart of the number of employees in each size category.  

(15 points)

## Question 6

Still continuing with the same data:  

(a) Create figure and axis objects.  

(b) Add a horizontal bar chart of the number of firms in each category to the axis object you created. 

(c) Make the bars red. 

(d) Add a title.

(e) Change the style to `seaborn-pastel`.  

(20 points)

## Question 7

Refer to the list of strings below called "paren".

(a) Loop through each item of the list and, for each item, replace the parentheses in each string with a dash ("-") so that there is a space on either side of each dash. Print the new string of each element.

(b) For each item in the list, print the index of each of the parentheses.
Hint: try running: `str.find?`

(c) Create a function that replaces removes the contents of parentheses in a string. This function should return a new string that has all the content in the old string except for what is between the two parentheses.

(d) Create an new list that contains all the elements of the old list without the contents of the parentheses

(15 points)

In [ ]:
paren = ['When we went to town on Monday (it was so early!) everyone was falling asleep',
         'It is obvious (so obvious) that I am going to get a good grade on this exam',
         'As she sang her famous line (the one they wrote that article about) the crowd went wild']